@import url('https://g2games.dev/assets/fonts/fonts.css');

body {
    font-family: sans-serif;
}

h1 {

}

.button {
    display: block;
    width: fit-content;
    padding: 2px;
    border: 1px solid grey;
    background-color: #EEE;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #CCC;
}

#durationBox {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}

#durationBox > p {
    font-size: 10pt;
    width: 40px;
    height: 40px;
    vertical-align: center;
}
