@import url('https://g2games.dev/assets/fonts/fonts.css');

body {
    font-family: sans-serif;
}

center {
    margin: auto;
    max-width: 500px;
}

footer {
    display: flex;
    width: fit-content;

    p {
        border-right: 1px dotted grey;
        padding: 0 10px;
    }

    p:last-child {
        border-right: none;
    }
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

button p {
    margin: 0;
}

.button {
    display: block;
    width: fit-content;
    padding: 2px;
    border: 1px solid grey;
    background-color: #EEE;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button.button {
    width: 50px;
    height: 50px;
}

button:hover {
    filter: brightness(0.9);
}

button.main_file_upload {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px 0;
    width: 250px;
    height: 75px;
    cursor: pointer;
    background-color: #84E5FF;

    h4 {
        margin: 0;
        font-size: 1.9em;
        font-weight: bold;
    }
}

.button.selected {
    background-color: #84FFAE;
    border: 2px dashed grey;
}

#durationBox {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}

#durationBox > p {
    font-size: 10pt;
    width: 40px;
    height: 40px;
    vertical-align: center;
}

.progress_box {
    display: flex;
    width: 300px;
    gap: 5px;
    align-items: center;
    height: 70px;

    progress {
        width: 100%;
    }

    .progress_value {
        width: 90px;
        margin: 0;
    }
}

#uploadedFilesDisplay {
    text-align: left;
    min-height: 2em;
}

#uploadedFilesDisplay div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#uploadedFilesDisplay > div > span {
    flex-grow: 2;
    border-top: 2px dotted grey;
    height: 0px;
    margin: auto;
}

#uploadedFilesDisplay button {
    height: 50px;
    width: 50px;
}
