body {
    font-family: sans-serif;
}

center {
    margin: auto;
    max-width: 500px;
}

footer {
    display: flex;
    width: fit-content;

    p {
        border-right: 1px dotted grey;
        padding: 0 10px;
    }

    p:last-child {
        border-right: none;
    }
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

button p {
    margin: 0;
}

button {
    display: block;
    width: fit-content;
    padding: 2px;
    border: 1px solid grey;
    background-color: #EEE;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button.button {
    width: 50px;
    height: 50px;
}

button:hover {
    filter: brightness(0.9);
}

button.main_file_upload {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px 0;
    width: 250px;
    height: 75px;
    cursor: pointer;
    background-color: #84E5FF;
    margin-bottom: 0;

    h4 {
        margin: 0;
        font-size: 1.9em;
        font-weight: bold;
    }
}

.button.selected {
    background-color: #84FFAE;
    border: 2px dashed grey;
}

pre {
    color: white;
    background-color: black;
    font-size: 11pt;
    padding: 10px;
}

#durationBox {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}

#durationBox > p {
    font-size: 10pt;
    width: 40px;
    height: 40px;
    vertical-align: center;
}

#uploadedFilesDisplay {
    text-align: left;
    min-height: 2em;
}

#uploadedFilesDisplay p.file_name {
    width: 50%;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#uploadedFilesDisplay p.status {
    font-family: monospace;
    font-size: 11pt;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    margin: auto 0;
    margin-left: auto;
    width: min-content;
    flex-shrink: 2;
    display: block;
}

#uploadedFilesDisplay div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: end;
}

#uploadedFilesDisplay > div > progress {
    height: 20px;
    margin: auto;
    flex-grow: 2;
    display: block;
}

#uploadedFilesDisplay button {
    height: 30px;
    width: 30px;
    margin: auto 0;
    background-color: white;
}

progress {
    --color: #84FFAE;  /* the progress color */
    --background: lightgrey; /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    background-color: var(--background);
    position: relative;
}

progress::-moz-progress-bar {
    background-color: var(--color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-bar {
    background-color: var(--background);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-color: var(--color);
}

progress:not([value])::-webkit-progress-bar {
    background-color: var(--color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress:not([value])::-webkit-progress-value {
    width: 20%;
    position: absolute;
    left: 50%;
}

progress:not([value])::-moz-progress-bar {
    background-color: var(--color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width: 20%;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

@keyframes example {
    from {margin-left: 0%}
    to {margin-left: 80%}
}
